@font-face {
    font-family: Aleo;
    src: url("assets/fonts/Aleo-Bold.ttf");
}
@font-face {
    font-family: Aleo;
    src: url("assets/fonts/Aleo-Light.ttf");
}
@font-face {
    font-family: Aleo;
    src: url("assets/fonts/Aleo-Italic.ttf");
}